@import url(https://fonts.google.com/specimen/Lexend+Deca);
@import url(https://fonts.google.com/specimen/Big+Shoulders+Display);

:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: var(--Very-light-gray);
    font-size: 1.5rem;
    font-family: "Big Shoulders Display", sans-serif;
}

.container{
    max-height: 97vw;
    min-height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 25rem;
    height: 40rem;

    padding: 4rem;
    color: white;
}

.card:nth-child(1){
    border-radius: 1rem 0rem 0rem 1rem;
    background-color: var(--Bright-orange);
}

.card:nth-child(2){
    background-color: var(--Dark-cyan);
}

.card:nth-child(3){
    border-radius: 0rem 1rem 1rem 0rem;
    background-color: var(--Very-dark-cyan);
}

.card-title{
    margin: 2rem 0rem;
    padding: 0rem;

    text-transform: uppercase;
}

.card-paragraph{
    margin: 0rem;
    padding: 0rem;
    
    line-height: 2rem;
    
    text-align: left;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.3rem;

    color: var(--Transparent-white);
}

.card-button{
    margin: 0rem;
    padding: 0rem;

    width: 10rem;
    height: 3.5rem;

    text-decoration: none;    
    font-family: 'Lexend Deca', sans-serif;

    border-color: none;
    border-radius: 1.8rem;
    background-color: var(--Very-light-gray);
}

.orange{
    color: var(--Bright-orange);
}

.DarkCyan{
    color: var(--Dark-cyan);
}

.VeryDarkCyan{
    color: var(--Very-dark-cyan);
}
